@{
  Layout = "Shared/_Layout.cshtml";
}
<h2>Welcome to your local library.</h2>


<h3><a href='/books' class="btn btn-info">I am a librarian</a></h3>
<h3><a href='/patrons'class="btn btn-success">I am a patron</a></h3>
