@{
  Layout = "Shared/_Layout.cshtml";
}
      <!-- <h2>You have checked out:</h2><br>

      @if(@Model.Count == 0)
      {
        <h3>No books have been checked out yet!</h3>
      }
      <ul>
        @foreach(var book in Model)
        {
          <li><h3><a href='/books/@book.GetId()'>@book.GetTitle()</a></h3></li>
        }
      </ul><br>

      <h5><a href="/books/new">Add new book</a></h5>
      <h5><a href="/">Return home</a></h5><br> -->
